ALittleSongInMyHead/bin/
.metadata/
ALittleSongInMyHead/gen/
Project/app/src/main/assets/parts/
Project/app/build/
Project/local.properties
Project/.gradle/
Project/.idea/libraries/
Project/.idea/workspace.xml
Project/.idea/vcs.xml
